@{
    ViewData["Title"] = "Nova Ingenieros";
}
<h1>@ViewData["Title"]</h1>

<h3> Soy Developer Web , mi nombre es: Jorge Macias </h3>

<br />

<p> Esta App es una Aplicación Inventarios para cualquier tipo de Empresa</p>